<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vsnmobil.valrt">


    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name=".VALRTApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.InitialActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".fragment.TourSlideFragmentActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.PersonalInfoActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.DeviceTrackerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.AddContactActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.AlertMessageActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.AdvanceSettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.ManageDevicesActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.ProductInformationActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.TermsAndConditionsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.AgreementActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.HelpActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.WebViewerActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity
            android:name=".activities.AboutVSNActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.HistoryLogActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.SettingsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.HomeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.CongratulationsActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".fragment.DashboardFragmentActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.FindMeActivity"
            android:configChanges="locale"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".activities.AlertProgressActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeWithCorners" />
        <activity
            android:name=".activities.FallDetectActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeWithCorners" />
        <activity
            android:name=".activities.DisconnectActivity"
            android:configChanges="locale"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeWithCorners" />

        <receiver
            android:name=".VALRTReceiver"
            android:configChanges="locale"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.htc.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.bluetooth.device.action.ACL_DISCONNECTED" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UpdatePackageReceiver"
            android:configChanges="locale"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.BluetoothLeService"
            android:configChanges="locale"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/valrt_service_label"
            android:stopWithTask="false" />
        <service
            android:name=".services.ReconnectService"
            android:configChanges="locale"
            android:enabled="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" />
        <service
            android:name="com.twilio.client.TwilioClientService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

       <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0a0" />
    </application>

</manifest>
